<!--
The RouteGroup Partial
Renders a picker to choose a query method, a url, headers, and a body
-->
<div class="api__route__routegroup">
  <%- include('urlgroup', {method, url, namespace}) %>
  
  <div class="api__route__routegroup__headers">
    <label>
      Headers
      <%- include('stachehelper', {
        editor: `#version-${version} #url-${urlindex} .api__route__routegroup__headers textarea`,
      }); %>
    </label>
    <textarea name="<%= namespace || '' %>_headers"><%= headers %></textarea>
  </div>
  <div class="api__route__routegroup__body">
    <label>
      Body
      <%- include('stachehelper', {
        editor: `#version-${version} #url-${urlindex} .api__route__routegroup__headers textarea`,
      }); %>
    </label>
    <textarea name="<%= namespace || '' %>_body"><%= body %></textarea>
  </div>
</div>
