<% include partials/header %>
<form method="POST">
  <div class="api">
    <h1>My Api</h1>

    <div class="api__about">
      <div class="api__about--label">Metadata</div>

      <div class="api__about--body">
        <input class="api__about__name" type="text" name="name" placeholder="Api Name" />
        <input class="api__about__slug" type="text" name="slug" placeholder="Api Slug" />
        <textarea class="api__about__desc" name="desc" placeholder="Api Description"></textarea>
      </div>
    </div>

    <% Object.keys(data.versions).forEach(function(version) { %>
      <div class="api__version" id="version-<%= version %>">
        <div class="api__about--label">
          Version
          <code><%= version %></code>
        </div>

        <% data.versions[version].routes.forEach(function(route, ct) { %>
          <div class="api__version--body">
            <div class="api__route" id="url-<%= ct %>">
              <h3>When I go to...</h3>
              <%- include('partials/urlgroup', {
                method: route.accept.method,
                url: route.accept.url,
                namespace: "api_route",
                prefix: `/api/${version}`,
              }) %>

              <h3>Then, do this...<h3>
              <% route.proxy.forEach(function(proxy) { %>
                <%- include('partials/routegroup', {
                  namespace: "api_proxy",
                  method: proxy.method,
                  url: proxy.url,
                  urlindex: ct,
                  headers: "Abc: def",
                  body: `{"yay": "me"}`,
                  version,
                }) %>
              <% }); %>
            </div>
          </div>

          <hr />
        <% }); %>
      </div>
    <% }); %>

    <input type="submit" class="btn btn-success" value="Update Api" />

  </div>
</form>
<% include partials/footer %>
